<h1>Editing objective</h1>

<%= render "form", objective: @objective %>

<br>

<div>
  <%= link_to "detail for this objective", @objective %> |
  <%= link_to "back to objective list", objectives_path %>
</div>
