<% turbo_refreshes_with(method: :morph, scroll: :preserve) %>
<div class="ui two column centered grid">
  <div class="column ui center aligned">
    <h1>vision board</h1>
    <%= link_to new_objective_path do %>
      <button class="fluid ui teal basic button"><i class="add icon"></i>追加する</button>
    <% end %>
  </div>
</div>
<div class="ui hidden divider"></div>
<p style="text-align: center;color: #999">ビジョンボードをLINEで配信!!<br>（by 設定画面にてLINE連携 & 配信許可 & 配信アカウントを友達追加）</p>
<div id="objectives">
  <% @objectives.each do |objective| %>
    <%= render partial: 'objective_item', locals: { objective:, objectives: @objectives, maximum: @maximum } %>
  <% end %>
</div>
