<div class="ui two column centered grid">
  <div class="column ui center aligned">
    <h1>vision board</h1>
    <%= link_to new_objective_path do %>
      <button class="fluid ui teal basic button"><i class="add icon"></i>追加する</button>
    <% end %>
  </div>
</div>
<div class="ui hidden divider"></div>
<div id="objectives">
  <% @objectives.each do |objective| %>
    <%= render partial: 'objective_item', locals: { objective:, objectives: @objectives } %>
  <% end %>
</div>
