<h1>New objective</h1>

<%= render "form", objective: @objective %>

<div class="ui hidden divider"></div>

<div class="ui horizontal segments">
  <div class="ui segment center aligned">
    <%= link_to objectives_path do %>
      <i class="list ui icon"></i>
      一覧に戻る
    <% end %>
  </div>
</div>
