<div data-chart-target="avgChart" style="display:block">
  <%= line_chart line_chart.average_records_for_chart, min: line_chart.minimum_record - 5 %>
</div>
<div data-chart-target="normalChart" style="display:none">
  <%= line_chart line_chart.records_for_chart, min: line_chart.minimum_record - 5 %>
</div>
