<div>
  <div class="ui two column centered grid">
    <div class="column ui center aligned">
      <h1>weight records</h1>
    </div>
  </div>
  <div class="ui hidden divider"></div>
  <%= turbo_frame_tag "chart" do %>
    <%= render partial: 'records', locals: { records: @records } %>
  <% end %>
  <div class="ui right aligned grid">
    <div class="right floated column">
      <%= button_to new_record_path, method: :get, data: { turbo_frame: "modal" } do %>
        <div class="ui vertical animated button teal" tabindex="0">
          <div class="hidden content">追加</div>
          <div class="visible content">
            <i class="add icon"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= turbo_frame_tag 'modal' %>
