<%= turbo_frame_tag "modal" do %>
  <div class="ui modal" data-controller="modal">
    <div class="header">Header</div>
    <div class="content">
      <%= render partial: 'records/form', locals: { record: @record } %>
    </div>
  </div>
<% end %>
